<?xml version="1.0"?>
<launch>
	<arg name="name" default=""/>
	<arg name="suffix" value="$(arg name)"/>
	<arg name="tf_prefix" value="$(eval arg('name') + '/' if arg('name') else '')"/>
	<param name="tf_prefix" value="$(arg tf_prefix)"/>

	<node pkg="thymioid" type="generate_rviz_config.py" name="generate_rviz_config"
		args="$(find thymioid)/configuration/thymioTemplate.rviz '$(arg name)'" output="screen"/>
	<node pkg="rviz" type="rviz" name="rviz"
		args="-d $(find thymioid)/configuration/thymioTemplate.rviz.$(arg suffix)"/>
</launch>
